extends layout.pug

block content
  h1= title
  - var todos = [ {title: 'todo1', desc: 'todo1 desc', completed: true}, {title: 'todo2', desc: 'todo2 desc', completed: false}]
  a(class='btn' href='//google.com' target='_blank') Visit Google
  ul
    each todo in todos
      li
        div(style={color: 'red', background: 'green'}) 
          h3 #{todo.title}
          p #{todo.desc}
          input(type='checkbox' name='completed' checked=todo.completed)

block foot
  footer 
    div hello footer      


block ReviewForm 
  div(class='review_form')
    label(for='title') Title
    input(type='text' name='title' id='title')
    label(for='desc') Description  
    input(type='text' name='desc' id='desc')
    button(type='button' id='btn_submit' onclick=`console.log('hi')`) Submit Review   

block scripts
  script
    include main.js
  
